.auth-page {
    min-height: 100vh;
    background: #f6faf6;
}

.auth-brand {
    position: absolute;
    top: 25px;
    left: 35px;

    display: flex;
    align-items: center;
    gap: 9px;

    color: var(--dark);

    font-size: 18px;
    font-weight: 750;
}

.auth-container {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 0.8fr;
}

.auth-left {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 80px 50px;
}

.auth-content {
    width: 100%;
    max-width: 430px;
}

.auth-label {
    color: var(--primary);

    font-size: 11px;
    font-weight: 800;

    letter-spacing: 1.5px;
}

.auth-content h1 {
    margin-top: 9px;

    color: var(--dark);

    font-size: 35px;
}

.auth-content h1 span {
    color: var(--primary);
}

.auth-content>p {
    margin-top: 9px;

    color: var(--muted);

    line-height: 1.6;
}

.auth-content form {
    margin-top: 28px;
}

.auth-content form>label {
    display: block;

    margin: 15px 0 7px;

    color: var(--text);

    font-size: 12px;
    font-weight: 650;
}

.auth-content input {
    width: 100%;

    padding: 13px;

    border: 1px solid var(--border);
    border-radius: 9px;

    outline: none;

    background: white;
}

.password-field {
    position: relative;
}

.password-field button {
    position: absolute;
    right: 12px;
    top: 50%;

    transform: translateY(-50%);

    border: none;
    background: none;
}

.forgot-row {
    display: flex;
    justify-content: space-between;

    margin: 15px 0 20px;

    font-size: 11px;
}

.auth-switch {
    text-align: center;

    margin-top: 22px !important;

    font-size: 12px;
}

.auth-switch a {
    margin-left: 5px;

    color: var(--primary);

    font-weight: 700;
}

.auth-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px;

    background: var(--primary);

    color: white;

    text-align: center;
}

.auth-illustration {
    width: 160px;
    height: 160px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;

    border-radius: 40px;

    background: rgba(255, 255, 255, 0.15);

    font-size: 75px;
}

.auth-right h2 {
    font-size: 32px;
}

.auth-right p {
    max-width: 400px;

    margin-top: 13px;

    color: rgba(255, 255, 255, 0.8);

    line-height: 1.6;
}