@media (max-width: 1100px) {

    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .dashboard-grid {
        grid-template-columns: 1fr;
    }

    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .steps {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero {
        grid-template-columns: 1fr;
    }

    .hero-content {
        text-align: center;
        margin: auto;
    }

    .hero-content>p {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-stats {
        justify-content: center;
    }

    .analysis-layout {
        grid-template-columns: 1fr;
    }

    .advice-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {

    .sidebar {
        width: 70px;
    }

    .sidebar-logo span,
    .side-link span {
        display: none;
    }

    .sidebar-logo {
        justify-content: center;
    }

    .side-link {
        justify-content: center;
    }

    .dashboard-main,
    .analysis-main,
    .result-main,
    .advisory-main {
        margin-left: 70px;

        width: calc(100% - 70px);

        padding: 25px;
    }

    .auth-container {
        grid-template-columns: 1fr;
    }

    .auth-right {
        display: none;
    }

    .auth-left {
        padding: 90px 25px 40px;
    }

    .sample-options {
        grid-template-columns: 1fr;
    }

    .result-grid {
        grid-template-columns: 1fr;
    }

    .table-header {
        display: none;
    }

    .table-row {
        grid-template-columns: repeat(2, 1fr);

        gap: 12px;
    }

    .table-row>* {
        margin-bottom: 5px;
    }
}

@media (max-width: 600px) {

    .navbar {
        padding: 0 20px;
    }

    .nav-links a:not(.nav-login) {
        display: none;
    }

    .hero {
        padding: 60px 20px;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero-stats {
        gap: 20px;
    }

    .analysis-card {
        width: 100%;
    }

    .features-section,
    .how-section {
        padding: 60px 20px;
    }

    .features-grid,
    .steps {
        grid-template-columns: 1fr;
    }

    footer {
        flex-direction: column;
        gap: 10px;
    }

    .stats-grid {
        grid-template-columns: 1fr;
    }

    .dashboard-header {
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }

    .quality-chart {
        flex-direction: column;
    }

    .sample-option {
        flex-direction: column;
    }

    .result-card {
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }

    .result-actions {
        justify-content: stretch;
        flex-direction: column;
    }

    .history-toolbar {
        flex-direction: column;
    }

    .search-box {
        width: 100%;
    }
}